@using Modas.Models
@model IEnumerable<Event>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MODAS</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <i class="fa fa-home"></i>Home
    <table class="container table table-bordered">
        <tr><th>Date</th><th>Time</th><th>Location</th></tr>
        @foreach (var e in Model)
        {
        <tr>
            <td>@String.Format("{0: ddd, MMM dd, yyyy}", e.TimeStamp)</td>
            <td>@String.Format("{0:hh:mm tt}", e.TimeStamp)</td>
            <td>@e.Location.Name</td>
        </tr>
        }
    </table>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>